<article>
    <h2 class="text-xl font-bold m-2">Leads de Masivos</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-[#111f42] "
          >
          
            <tr>
                <th scope="col" class="px-6 py-3 text-white">Nombre</th>
                <th scope="col" class="px-6 py-3 text-white">Celular</th>
                <th scope="col" class="px-6 py-3 text-white">fecha envio</th>
                <th scope="col" class="px-6 py-3 text-white">Estado</th>
                <th scope="col" class="px-6 py-3 text-white">Observacion</th>
            </tr>
          </thead>
          <tbody>
            @for (lead of leadsAsignacion; track $index) {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
            <td class="px-6 py-4">
                {{ lead.leadName }}
              </td>
              <td class="px-6 py-4">
                {{ lead.leadPhone }}
              </td>
              <td class="px-6 py-4">
                {{ lead.fechaenvio.split("T")[0] }}
              </td>
              <td class="px-6 py-4">
                <span [ngClass]="getStatusClass(lead.status)" class="text-center py-1 px-2 font-bold rounded-md">
                  {{ lead.status }}
                </span>
              </td>
              <td class="px-6 py-4">
                {{ lead.observaciones }}
              </td>
            </tr>
            }@empty {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
              <td class="px-6 py-4">No hay datos disponibles.</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
</article>
