<div class="w-full h-full flex-1 bg-red-700">

 <div class="size-full flex gap-4">
    <div>
        <label for="">Numeros:</label>
        <textarea placeholder="998989898" class=""></textarea>
    </div>
    <select name="flow" id="">
        <option value="">arrocito</option>
        <option value="">arrocito</option>
        <option value="">arrocito</option>
    </select>
    <select name="flow" id="" class=" rounded-2xl">
        <option value="">bot_arrocito</option>
        <option value="">bot_arrocito</option>
        <option value="">bot_arrocito</option>
    </select>
 </div>
</div>