<article class="w-full h-full ">
  <div
    class="w-full h-fit flex flex-row gap-4 justify-start items-end bg-gradient-to-r from-[#111f42] to-[#39a0fe] p-4"
  >
    <app-select-search 
    [title]="'Flows'" 
    [Tipo]="'Flow'"
    [rutacreate]="'/flows'"
    [lista]="flows"
    (emitterSearchText)="flowSearch($event)"
    (emitterSelectedValue)="flowSelect($event)"
    />
    <!--
    <div>
      <label for="flow" class="block text-base text-white">Flows:</label>
      <select name="flow" id="flow" class="rounded-lg h-fit min-w-56" [(ngModel)]="NewAsignacion.flowId">
        @for (flow of flows; track $index) {
            <option [value]="flow.id">{{flow.name}}</option>
        }
      </select>
    </div>
    -->

    <app-select-search 
    [title]="'Bots'" 
    [Tipo]="'Bot'"
    [rutacreate]="'/bots'"
    [lista]="bots"
    (emitterSearchText)="botSearch($event)"
    (emitterSelectedValue)="botSelect($event)"
    />
    <!--
    <div>
        <label for="bot" class="block text-base text-white">Bots:</label>
        <select name="bot" id="bot" class="rounded-lg h-fit min-w-56" [(ngModel)]="NewAsignacion.botId">
            @for (bot of bots; track $index) {
                <option [value]="bot.id">{{bot.name}}</option>
            }
        </select>
    </div>
    -->
    <div>
        <label class="block text-base text-white" for="delaymin">Delay min:</label>
        <input type="number" [(ngModel)]="NewAsignacion.delaymin" class="rounded-md h-10" placeholder="">
    </div>
    <div>
        <label class="block text-base text-white" for="delaymax">Delay max:</label>
        <input type="number" [(ngModel)]="NewAsignacion.delaymax" class="rounded-md h-10" placeholder="">
    </div>
    <button type="button"
    class="group px-4 py-1 block text-[#111f42] hover:text-white border-[2px] border-transparent hover:border-white bg-[#00eadf] hover:bg-[#111f42] hover:cursor-pointer w-fit h-10 rounded-md text-sm font-semibold transition-all"
    (click)="parsearTexArea()">
    CREAR
  </button>
  </div>
  <div class="flex w-1/2 items-center justify-center mx-auto">
    <div class="flex-col w-full">
        <label class="block text-base" for="" >Numeros:</label>
        <textarea [(ngModel)]="numeros" placeholder="998989898" class="rounded-md w-full styletextarea max-h-[500px]"></textarea>
    </div>
  </div>
</article>
