<article class="w-full h-full ">
    <div
      class="w-full h-fit flex flex-row gap-4 justify-start items-end bg-gradient-to-r from-[#111f42] to-[#39a0fe] p-4"
    >
      <div class="mb-6">
        <label for="nombre" class="block text-base text-white">Nombre:</label>
        <input type="text" name="nombre" id="nombre" [(ngModel)]="this.NewAsignacion.name" class="rounded-lg ">
      </div>
      <app-select-search 
      [title]="'Flows'" 
      [Tipo]="'Flow'"
      [rutacreate]="'/flows'"
      [lista]="flows"
      (emitterSearchText)="flowSearch($event)"
      (emitterSelectedValue)="flowSelect($event)"
      [SelectedText]="NewAsignacion.flow.name"
      />
      <!--
      <div>
        <label for="flow" class="block text-base text-white">Flows:</label>
        <select name="flow" id="flow" class="rounded-lg h-fit min-w-56" [(ngModel)]="NewAsignacion.flowId">
          @for (flow of flows; track $index) {
              <option [value]="flow.id">{{flow.name}}</option>
          }
        </select>
      </div>
      -->
  
      <app-select-search 
      [title]="'Bots'" 
      [Tipo]="'Bot'"
      [rutacreate]="'/bots'"
      [lista]="bots"
      (emitterSearchText)="botSearch($event)"
      (emitterSelectedValue)="botSelect($event)"
      [SelectedText]="NewAsignacion.bot.name"
      />
      <!--
      <div>
          <label for="bot" class="block text-base text-white">Bots:</label>
          <select name="bot" id="bot" class="rounded-lg h-fit min-w-56" [(ngModel)]="NewAsignacion.botId">
              @for (bot of bots; track $index) {
                  <option [value]="bot.id">{{bot.name}}</option>
              }
          </select>
      </div>
      -->
      <div class="mb-6">
          <label class="block text-base text-white" for="delaymin">Delay min:</label>
          <input type="number" [(ngModel)]="NewAsignacion.delaymin" class="rounded-md h-10 w-32" placeholder="">
      </div>
      <div class="mb-6">
          <label class="block text-base text-white" for="delaymax">Delay max:</label>
          <input type="number" [(ngModel)]="NewAsignacion.delaymax" class="rounded-md h-10 w-32" placeholder="">
      </div>
      <button type="button"
      class="group mb-6 px-4 py-1 block text-[#111f42] hover:text-white border-[2px] border-transparent hover:border-white bg-[#00eadf] hover:bg-[#111f42] hover:cursor-pointer w-fit h-10 rounded-md text-sm font-semibold transition-all"
      (click)="SendAsignacion()">
      ENVIAR
      </button>
      <button type="button"
      class="group mb-6 px-4 py-1 block text-[#111f42] hover:text-white border-[2px] border-transparent hover:border-white bg-[#00eadf] hover:bg-[#111f42] hover:cursor-pointer w-fit h-10 rounded-md text-sm font-semibold transition-all"
      (click)="modalconfigurar()">
      CONFIGURAR
      </button>
    </div>
    <app-modal [(isOpen)]="flagConfigurar" [title]="'CONFIGURAR'">
      <label for="datetimeprogramacion" class="block text-black mb-2">FECHA Y HORA: </label>
      <input type="datetime-local" name="datetimeprogramacion" id="datetimeprogramacion" class="text-black rounded-md" [(ngModel)]="fechaConfiguracion">
      <button type="button"
      class="group mt-6 px-4 py-1 block w-full text-[#111f42] hover:text-white border-[2px] border-transparent hover:border-white bg-[#00eadf] hover:bg-[#111f42] hover:cursor-pointer h-10 rounded-md text-sm font-semibold transition-all"
      (click)="enviarConfiguracion()">
      ENVIAR CONFIGURACION
      </button>
    </app-modal>
    <div class="flex w-1/2 items-center justify-center mx-auto">
      <div class="flex-col w-full">
          <label class="block text-base" for="" >Numeros:</label>
          <textarea [(ngModel)]="numeros" placeholder="998989898" class="rounded-md w-full styletextarea max-h-[500px]" (keypress)="onKeyPress($event)" (input)="onInput()"></textarea>
      </div>
      
    </div>
    <app-loader [(isOpen)]="flagLoader"></app-loader>
  </article>
