<div class="mockup-phone">
    <div class="camera"></div>
    <div class="display bg-gray-200 flex items-center justify-center p-4"
    
    >
      <div class="card w-full bg-green shadow-xl rounded-lg p-4">
        <!-- Ícono Superior -->
        <div class="mx-auto w-fit h-fit flex justify-center mb-4 rounded-full" [ngStyle]="{'background-color': bot.tipo === 'bot' ? '#3185f7' : (bot.tipo === 'responder' ? '#800080' : '')}">
          @switch (bot.tipo) {
            @case ("bot") {
              <app-bender-icon [svgClasses]="'w-20 text-white'"/>
            }
            @case ("responder") {
              <app-leela-icon [svgClasses]="'w-20 text-white p-5'"/>
            }
          }
          
        </div>
  
        <!-- Información del Bot -->
        <div class="text-center">
          
          <!-- Pairing Code -->
          <p class="text-sm text-gray-400 uppercase mt-4">Pairing Code</p>
          <div class="flex items-center justify-center gap-2 mt-1">
            <span class="text-lg font-semibold text-gray-800">{{ bot.pairingCode }}</span>
            <button
              class="btn btn-sm btn-circle btn-outline hover:rotate-180 transition-transform"
              (click)="ResetPairingCode()"
            >
              <svg
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 4v5h.582m15.356-2A9 9 0 1 0 6.582 12M4 9l5 5"
                />
              </svg>
            </button>
          </div>
  
          <!-- Phone -->
          <p class="text-sm text-gray-400 uppercase mt-4">
            Phone</p>
          <p class="text-lg font-semibold text-gray-800">{{ bot.phone }}</p>
        </div>
  
        <!-- Botón de Estado -->
        <div class="mt-6">
          @if (bot.status) {
          <button
            type="button"
            class="btn btn-success w-full"
            (click)="ToggleStatus()"
          >
            ACTIVO
          </button>
          } @else {
          <button
            type="button"
            class="btn btn-error w-full"
            (click)="ToggleStatus()"
          >
            INACTIVO
          </button>
          }
        </div>
      </div>
    </div>
  </div>
  