.active {
    background-color: white; /* bg-gray-700 rgb(21, 57, 116) */
    color: white;
}
.active> svg{
    color: black;
}
.active> span{
    color: black;
}
/* Quitar flechas en navegadores Webkit (Chrome, Safari, Edge) */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar flechas en Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
