<div class="flex flex-row flex-nowrap justify-start items-center gap-2 bg-gradient-to-r from-[#111f42] to-[#39a0fe] py-2 px-4">
    <div>
        <label class="block text-base text-white" for="cantidad">Nombre:</label>
        <input type="text" name="name" id="name" class="rounded-md h-10 w-96" [(ngModel)]="NewFlow.name" />
    </div>
  @if (id !== undefined) {
    @if (clonar) {
      <button type="button" (click)="CrearFlow()" class="my-auto px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >CREAR FLOW</button>

    }@else {
      <button type="button" (click)="EditarFlow()" class="my-auto px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >EDITAR FLOW</button>
    }
  }@else {
    <button type="button" (click)="CrearFlow()" class="my-auto px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >CREAR FLOW</button>
  }

  <div class="flex items-center">
    <input id="default-checkbox" type="checkbox" [(ngModel)]="flagCursos" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-checkbox" class="ms-2 text-sm font-medium text-white">Activar Cursos</label>
  </div>
</div>

<app-modal [title]="'Crear Mensaje'" [(isOpen)]="flagModalNewMensaje">
  <div
    class="flex flex-col items-start justify-center w-96 min-h-32 rounded-md gap-2 my-5"
  >
    <h2 class="text-black">NUEVO MENSAJE</h2>
    <select
      name="tipo"
      id="tipo"
      [(ngModel)]="NewMensaje.tipo"
      class="w-40 rounded-md text-lg h-fit text-black"
    >
      <option value="texto">texto</option>
      <option value="imagen">imagen</option>
      <option value="video">video</option>
      <option value="documento">documento</option>
    </select>
    <label class="block text-black" for="contentbody">body:</label>
    <textarea
      name="contentbody"
      id="contentbody"
      class="styletextarea rounded-md text-black"
      [(ngModel)]="NewMensaje.content.body"
    ></textarea>

    @if (NewMensaje.tipo != "texto") {
    <label class="block text-black" for="contentfooter">footer:</label>
    <textarea
      name="contentfooter"
      id="contentfooter"
      class="styletextarea rounded-md"
      [(ngModel)]="NewMensaje.content.footer"
    ></textarea>
    }
    <button
      type="button"
      class="px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all"
      (click)="addNewMensaje()"
    >
      GUARDAR
    </button>
  </div>
</app-modal>

<article class="w-full flex flex-row">
  <div
    class="flex flex-col flex-nowrap items-center justify-start border border-gray-400 shadow-slate-400 shadow-md p-4 gap-4 rounded-md w-full min-h-96 mx-auto"
    cdkDropList
    id="selectedList"
    [cdkDropListData]="NewFlow.mensajes"
    (cdkDropListDropped)="drop($event)"
    >
    @for (mensaje of NewFlow.mensajes; track $index) {
        <app-cardmensajes cdkDragLockAxis="y" cdkDrag [mensaje]="mensaje" [posicion]="$index +1" (MensajeChange)="eliminarmensaje($event)"/>
    }
    <button type="button" class="flex flex-row items-center justify-center gap-4 hover:scale-105 hover:font-bold transition-all"  (click)="toggleflagModalNewMensaje()">
      <div class="rounded-full border-2 border-gray-800 ">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
      </div>
      <span>AGREGAR MENSAJE</span>
    </button>
  </div>
  @if (flagCursos) {
    <div class="flex-col w-full">
      <label class="block text-base" for="" >Cursos:</label>
      <textarea [(ngModel)]="NewFlow.listacursos" placeholder="SUPER PACK EXCEL" class="rounded-md w-full styletextarea max-h-[500px]"></textarea>
    </div>
  }
</article>

