<div class="flex flex-row flex-nowrap justify-start items-center gap-2 bg-gradient-to-r from-[#111f42] to-[#39a0fe] py-2 px-4">
    <div>
        <label class="block text-base text-white" for="cantidad">Nombre:</label>
        <input type="text" name="name" id="name" class="rounded-md h-10" [(ngModel)]="NewFlow.name" />
    </div>
  @if (id !== undefined) {
    <button type="button" (click)="EditarFlow()" class="my-auto px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >EDITAR FLOW</button>

  }@else {
    <button type="button" (click)="CrearFlow()" class="my-auto px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >CREAR FLOW</button>
  }

  @if(!flagModalNewMensaje){
    <button type="button" (click)="toggleflagModalNewMensaje()" class="my-auto px-4 py-2 bg-teal-500 text-teal-950 border-teal-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all" >AGREGAR MENSAJE</button>
  }
</div>

<app-modal [title]="'Crear Mensaje'" [(isOpen)]="flagModalNewMensaje">
  <div
    class="flex flex-col items-start justify-center w-96 min-h-32 rounded-md gap-2 my-5"
  >
    <h2 class="text-black">NUEVO MENSAJE</h2>
    <select
      name="tipo"
      id="tipo"
      [(ngModel)]="NewMensaje.tipo"
      class="w-40 rounded-md text-lg h-fit text-black"
    >
      <option value="texto">texto</option>
      <option value="imagen">imagen</option>
      <option value="video">video</option>
      <option value="documento">documento</option>
    </select>
    <label class="block text-black" for="contentbody">body:</label>
    <textarea
      name="contentbody"
      id="contentbody"
      class="styletextarea rounded-md text-black"
      [(ngModel)]="NewMensaje.content.body"
    ></textarea>

    @if (NewMensaje.tipo != "texto") {
    <label class="block text-black" for="contentfooter">footer:</label>
    <textarea
      name="contentfooter"
      id="contentfooter"
      class="styletextarea rounded-md"
      [(ngModel)]="NewMensaje.content.footer"
    ></textarea>
    }
    <button
      type="button"
      class="px-4 py-2 bg-cyan-500 text-cyan-950 border-cyan-500 border-2 hover:bg-white hover:cursor-pointer w-28 h-14 rounded-md text-sm font-bold transition-all"
      (click)="addNewMensaje()"
    >
      GUARDAR
    </button>
  </div>
</app-modal>
<!--
<div
  class="flex flex-col flex-nowrap items-center justify-start border border-gray-400 shadow-slate-400 shadow-md p-4 gap-4 rounded-md w-1/2 min-h-96"
>
  @for (mensaje of NewFlow.mensajes; track $index) {
  <app-cardmensajes [mensaje]="mensaje" />
  }
</div>
-->

<div
    class="flex flex-col flex-nowrap items-center justify-start border border-gray-400 shadow-slate-400 shadow-md p-4 gap-4 rounded-md w-1/2 min-h-96 mx-auto"
    cdkDropList
    id="selectedList"
    [cdkDropListData]="NewFlow.mensajes"
    (cdkDropListDropped)="drop($event)"
    >
    @for (mensaje of NewFlow.mensajes; track $index) {
        <app-cardmensajes cdkDrag [mensaje]="mensaje"/>
    }
  </div>
