<div class="flex flex-col items-start justify-center w-96 min-h-32 rounded-md gap-4 border-gray-200 border-2 h-fit">
  <select name="tipo" id="tipo" [(ngModel)]="mensaje.tipo" class="w-40 rounded-md text-lg h-fit" disabled>
    <option value="texto">texto</option>
    <option value="imagen">imagen</option>
  </select>
  <textarea
    name="contentbody"
    id="contentbody"
    class="styletextarea rounded-md"
    [(ngModel)]="mensaje.content.body"
    disabled
  ></textarea>

  @if (mensaje.tipo == "imagen") {
  <textarea
    name="contentbody"
    id="contentbody"
    class="styletextarea rounded-md"
    [(ngModel)]="mensaje.content.footer"
    disabled
  ></textarea>
  }
</div>
